.portfolio {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.portfolio-wrapper {
    display: flex;
    transition: .5s transform;
}

.portfolio-wrapper  > :not(:first-child) {
    position: absolute;
}

.portfolio-item {
    width: 100%;
    height: 100%;
}

.portfolio-item > img {
    width: 100%;
    height: 100%;
}

.portfolio-chevron {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: transparent;
    margin: auto;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.portfolio-chevron:active {
    background-color: transparent;
}

.portfolio-chevron::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
    color: var(--blue);
    border-radius: 0px 0px 4px 0px;
}


.portfolio-chevron-prev {
    left: 0px;
    top: 45%;
    transform: rotate(-180deg);
}

.portfolio-chevron-next {
    right: 0px;
    top: 45%;
}

/* portfolio-item-row-1 */

.portfolio-item-row-1 {
    margin-bottom: 10px;
}

.portfolio-item-row-1 > strong {
    font-size: 16px;
}


/* portfolio-item-row-2 */

.portfolio-item-row-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item-image {

}

/* portfolio-item-row-3 */

.portfolio-item-row-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.portfolio-item-marks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@import url("animations.css");

.portfolio-item-mark {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
}

.portfolio-item-mark-disabled {
    opacity: .2;
}


.portfolio-item-mark-active:hover {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}


.portfolio-item-line {
    width: 20%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--blue);
}

/* portfolio-item-row-4 */
.portfolio-item-row-4 > h2 {
    margin-bottom: 5px;
    font-size: 25px;
}

.portfolio-item-row-4 > p {
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
    .portfolio-item-row-4 > h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .portfolio-item-row-4 > p {
        font-size: 14px;
    }

    .portfolio-item-mark {
        height: 20px;
        width: 20px;
        margin-left: 10px;
    }

    .portfolio {
        width: 100%;
    }

    .portfolio-chevron-prev {
        top: 25%;
    }
    
    .portfolio-chevron-next {
        top: 25%;
    }

    .portfolio-chevron::before {
        width: 20px;
        height: 20px;
    }
    
}


